/* .play-ground {
  background: url('/assets/img/walkingGrid.png');
  margin: 10%;
  padding: 0px;
  background-repeat: no-repeat;
  height: 500px; width: 100%;
} */

.play-ground{
  display: grid;
  margin: auto;
  background-color: #ddd;
  background: url('/assets/img/walkingGrid.png');
  background-repeat: no-repeat;
  margin-top: 5%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-left: 45%;
}
.play-ground-background {
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 10%;
  padding: 10%;
  background: url('/assets/img/bg.png');
}
