<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <app-script-input (userInput)="onUserInputRecieved($event)" (userInputEmitter)="onUserInputRecieved($event)">

  </app-script-input>

</div>
<div>
  <app-robo-playground [recievedRoboInstructions]="roboInstructions"></app-robo-playground>
</div>

