<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <label for="userinput">Enter you script and hit submit script</label>
      <br/>
    <div class="input-group">

      <textarea class="form-control custom-con" style="background-color: #9e9e9e1f; resize:none" [(ngModel)]='userInput' rows="10" cols="150" id="userinput">
</textarea>


    </div>
    <br/>
    <button class="btn btn-primary pull-right" (click)="scriptChaged()">Submit Script</button>
  </div>
  <div class="col-md-4"></div>
</div>
